1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
    BLOCK "040904B0"
    {
        VALUE "CompanyName", "Image Mover"
        VALUE "FileDescription", "Image and Video File Organizer"
        VALUE "FileVersion", "0.1.0.0"
        VALUE "InternalName", "image_mover"
        VALUE "LegalCopyright", "Copyright (c) 2025"
        VALUE "OriginalFilename", "image_mover.exe"
        VALUE "ProductName", "Image Mover"
        VALUE "ProductVersion", "0.1.0.0"
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409, 0x04B0
}
}
